# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# VS Code
.vscode/

# PyCharm
.idea/

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/

# System files
.DS_Store
Thumbs.db

# Migrations (opcional, si no quieres subirlas al repo inicial)
# **/migrations/
# pero deja __init__.py
**/migrations/*.py
!**/migrations/__init__.py
