{% extends "base_nav.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/buscar.css' %}">
<div class="container">
  <!-- Botón volver -->
  <a href="{% url 'dashboard' %}" class="btn-back">← Volver</a>


  <!-- Encabezado -->
  <div class="header-actions">
    <h1>Buscar Ofertas</h1>
    <a class="create" href={% url 'generar_curso' %} >＋ Crear Oferta</a>
  </div>

  <p class="subtitle">Explora todos tus ofertas disponibles</p>

  <!-- Barra de búsqueda -->
  <form method="get" class="search-bar">
    <input type="text" name="q" placeholder="Buscar por programa, municipio, instructor o modalidad..." value="{{ q }}">
    <button type="submit">Buscar</button>
  </form>

  <!-- Resultados -->
  <h2 class="results-title">Ofertas Encontrados ({{ courses|length }})</h2>

  {% if not q %}
    <div class="alert info">Realiza una búsqueda para ver los resultados aquí!!</div>
  {% elif not courses %}
    <div class="alert error">No se encontraron Ofertas</div>
  {% else %}
    <div class="table-container">
      <table class="results-table">
        <thead>
          <tr>
            <th>Programa</th>
            <th>Código</th>
            <!-- <th>Duración</th> -->
            <th>Instructor</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Estado</th>
            <th>Inscritos</th>
            <th>Inscripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
          <tr>
            <td>{{ course.programa.nombre }}</td>
            <td>{{ course.programa.codigo }}</td>
            <!-- <td>{{ course.programa.duracion }}</td> -->
            <td>{{ course.usuario.first_name }} {{ course.usuario.last_name }}</td>
            <td>{{ course.fecha_inicio|date:"d/m/Y" }}</td>
            <td>{{ course.fecha_fin|date:"d/m/Y" }}</td>
            <td>
              {% if course.status == "pending" %}
                <span class="tag pending">Pendiente</span>
              {% elif course.status == "approved" %}
                <span class="tag active">Activo</span>
              {% else %}
                <span class="tag rejected">Rechazado</span>
              {% endif %}
            </td>
            <td>
              {{ course.inscritos_count }} / {{ course.max_inscripciones }}
            </td>
            <td>
              <a href="{{ course.registrationLink }}" target="_blank">Link</a>
            </td>
            <td>
              <form method="post" action="#" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn-solicitar">Solicitar</button>
              </form>

              <form method="post" action="{% url 'eliminar_curso' course.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn-eliminar">Eliminar</button>
              </form>
            </td>


          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
</div>
{% endblock %}
