{% extends "base_nav.html" %}

{%load static%}

{%block content%}
<link rel="stylesheet" href="{% static 'css/buscar.css' %}">
<div class="container">
  <!-- Botón volver -->
  <a href="{% url 'dashboard' %}" class="back-link">← Volver al Dashboard</a>

  <!-- Encabezado -->
  <div class="header-actions">
    <h1>Buscar Cursos</h1>
    <a class="create" href={% url 'generar_curso' %} >＋ Crear Curso</a>
  </div>

  <p class="subtitle">Explora todos los cursos disponibles en el sistema</p>

  <!-- Barra de búsqueda -->
  <form method="get" class="search-bar">
    <input type="text" name="q" placeholder="Buscar por programa, municipio, instructor o modalidad...">
    <button type="submit">Buscar</button>
  </form>

  <!-- Lista de cursos -->
  <h2 class="results-title">Cursos Encontrados ({{ courses|length }})</h2>

  {% if not q %}
    <div class="alert info">Realiza una busqueda para ver los resultados aqui!!</div>
  {% elif not courses %}
    <div class="alert error">No se encontraron cursos</div>
  {% else %}
    <div class="courses-list">
      {% for course in courses %}
        <div class="course-card">
          <div class="course-header">
            <div>
              <h3>{{ course.program }}</h3>
              <p class="instructor">Programa: {{ course.programa.nombre }}</p>
              {% if course.description %}<p class="description">{{ course.description }}</p>{% endif %}
            </div>
            <div class="tags">
              {% if course.status == "pending" %}
                <span class="tag pending">Pendiente</span>
              {% elif course.status == "approved" %}
                <span class="tag active">Activo</span>
              {% else %}
                <span class="tag rejected">Rechazado</span>
              {% endif %}
              <span class="tag neutral">0/25 inscritos</span>
            </div>
          </div>

          <div class="course-details">
              <p>📅 Inicio: {{ course.fecha_inicio|date:"d/m/Y" }}</p>
              <p>📅 Fin: {{ course.fecha_fin|date:"d/m/Y" }}</p>
              <p>⏳ Duración del programa: {{ course.programa.duracion }}</p>
              <p>🏷️ Código del programa: {{ course.programa.codigo }}</p>
              <p>👨‍🏫 Instructor: {{ course.usuario.first_name }} {{ course.usuario.last_name }}</p>
              <p>📧 Contacto: {{ course.usuario.email }}</p>
          </div>

          <div class="course-footer">
            {% if course.status == "pending" %}
              La solicitud está pendiente de aprobación
            {% elif course.status == "approved" %}
              Curso aprobado. <a href="{{ course.registrationLink }}" target="_blank">Abrir Link</a>
            {% else %}
              La solicitud fue rechazada
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{%endblock%}
